/* all files */

header {
    border-bottom: 1px black solid;
    background-color: rgb(0, 0, 0);
    padding: 0 0 0 0;
    padding-bottom: 30px;
    text-align: center;
    display: block;
    width: 100%;
    color: black;

}

nav {
    width: 100%;
}

nav a {
    padding-inline: 10px;
    /* padding-top: 20px; */
    /* padding-bottom: 10px; */
    background-color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(236, 221, 221);
    font-weight: 300;
    font-style: normal;
    top: 10%;
    left: 100%;
}

nav a :hover {
    color: black;
}





#h1_img {
    height: fit-content;
    border-bottom: 2px black;
    background-image: url(../images/b1.png);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
    opacity: 1;
}

h1 {
    font-size: 110px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 3;

    margin-top: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.desc {
    font-size: 30px;
    width: 60%;
    margin: auto;
}

h2 {
    margin: auto;
    text-align: center;
}

hr.line {
    margin-inline: 200px;
    border-width: 2px;
    border-color: black;
    color: black;
}

button {
    margin: auto;
    text-align: center;
    display: block;
}

button>.apply {
    font-size: 30px;
    background-color: purple;
    color: white;
    text-decoration: none;
}


footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    /* z-index: 4; */
    border-top: 1px black solid;
    background-color: blueviolet 0.7;
    margin-bottom: 0;

}

/* Form */

form {
    margin-top: 100px;
    display: block;
    border: 5px solid blue;
    text-align: left;
    width: 60%;
    margin: auto;
}